<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>My App</title>
  </head>
<body>
  <%- include('../partials/nav'); -%>
   <section class="container-form">
        <h4>< LOG IN /></h4>
        <p>Login and discover the app</p>
        <form action="" method="post">
            <input type="email" name="email" id="" placeholder="Email:">
            <input type="password" name="password" placeholder="Password:">
            <input type="submit" value="LOG IN"></button>
        </form>
    </section>  
</body>
</html>