<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>My App</title>
  </head>
<body>
  <%- include('../partials/nav'); -%>
  <% if( typeof(errors) =="undefined")  { %>
    <section class="container-form ">
      <h4>< SING  UP /></h4>
      <p>Register to start using the app</p>
      <form action="/register" method="post">
          <input type="text" name="username" id="" required maxlength="20" placeholder="Username:" ">
          <input type="email" name="email" id="" required placeholder="Email:">
          <input type="password" name="password" required minlength="4" maxlength="20" placeholder="Password:">
          <input type="password" name="confirm_password" minlength="4" maxlength="10" required placeholder="Repeat Password:">
          <input type="submit" value="SING UP"></button>
      </form>
   </section>
  <% }else {  %>
    <% errors.forEach((error) => { %>
      <p class="flash-message"><%= error.text %></p>
      <section class="container-form ">
        <h4>< SING  UP /></h4>
        <p>Register to start using the app</p>
        <form action="/register" method="post">
            <input type="text" name="username" id="" required maxlength="20" placeholder="Username:">
            <input type="email" name="email" id="" required placeholder="Email:">
            <input type="password" name="password" required minlength="4" maxlength="20" placeholder="Password:" >
            <input type="password" name="confirm_password" minlength="4" maxlength="10" required placeholder="Repeat Password:">
            <input type="submit" value="SING UP"></button>
        </form>
     </section>
    <% }); %>
  <%  } %>
  
  
  
  <script>
    const $message = document.querySelector('.flash-message');
    const d = document;
    $message.addEventListener('click', () => $message.remove());
  
</script>

</body>
</html>