<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>My App</title>
  </head>
<body>
  <%- include('partials/nav'); -%>
  <h1 class="index">
    WELCOME TO MY APP TASKS
  </h1>
</body>
</html>