  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="../app.css">
    <title>My App</title>
  </head>
<body>
  <%- include('../partials/nav'); -%>
    <section class="container-tasks">
    <div class="task">
        <div class="task-header">
            <h4 class="task-title">TITLE</h4>
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <br />
        <hr />
        <p class="status">Status</p>
        <button class="task-priority">FINISHED</button>
        <br />
        <input type="submit" value="REACTIVATE" />
        <input type="submit" value="DELETE" />
    </div>
</section>

</body> 
</html>